* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html, body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

header {
   position: relative;
   width: 100%;
   height: 4rem;
   display: inline-flex;
   align-content: center;
   background-color: white;
}

.logo-title {
    display: inline-flex;
    align-items: center;
    margin-left: 1.5rem;
}

header img {
    width: auto;
    height: 2.5rem;
}

header p {
    font-size: 2rem;
}

.header-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1.5rem;
}

nav li {
    display: inline-flex;
    margin: .5rem;
}

/* Start Section */

.start-content {
    display: inline-flex;
    position: relative;
    background-color: lightgray;
    width: 100%;
    align-items: center;
    color: rgb(66, 66, 66);
    padding: 2rem 1.5rem;
}

.banner {
    width: 60%;
    height: auto;
    margin: 0;
    border: 1px solid red;
}

.start-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1.5rem;
    max-width: 17rem;
}

.start-text p {
    font-weight: 500;
}

.button button {
   width: 17rem;
   background-color: rgb(66, 66, 66); 
   color: white;
   border: none;
   padding: .5rem;
   margin: .5rem 0;
}

/* Information Section */

.information-content {
    display: inline-flex;
    position: relative;
    width: 100%;
    color: rgb(66, 66, 66);
    margin: 0;
    padding: 0;
}

.information-quote {
    max-width: 60%;
    padding: 2rem 0 2rem 1.5rem;
    border: 1px solid yellow;
}

.information-quote img {
    width: 100%;
    height: auto;   
}

.information-quote figcaption {
    padding: 0;
    margin: 0;
    border: 1px solid green;
}

.information-quote h2 {
    margin: 2rem 0 1.5rem 0;
}

.information-quote h5 {
    margin-top: 2rem;
}

.information-images {
    display: block;
    border-left: .5px solid lightgray;
    margin-left: 1.5rem;
}

.information-images figure {
    display: flex;
    padding: 1rem;
    border: .5px solid lightgray;
}

.image {
    width: 35%;
    height: auto;
}

.information-images figcaption {
    width: 65%;
    padding: 1rem;
    margin: 0;
}

.information-images p {
    margin: .5rem 0;
}

.information-images a {
    color: rgb(55, 148, 206);
}
