* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html, body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: rgb(66, 66, 66);
}

a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

/* Header */

header {
   position: relative;
   width: 100%;
   height: 4rem;
   display: inline-flex;
   align-content: center;
   align-items: center;
   overflow: hidden;
   flex: 1 1 auto;
}

.logo-title {
    display: inline-flex;
    padding-left: 1.5rem;
    flex: 1 1 auto;
}

.logo {
    width: auto;
    height: 2.5rem;
}

header p {
    font-size: 2rem;
}

.navbar {
    display: inline-flex;
    width: 100%;
    flex: 1 1 auto;
}

.navbar .mobile-before {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}
nav div {
    display: inline-flex;
    padding: 0 1rem;
}

nav a:hover {
    color: rgb(55, 148, 206);
}

.mobile-after {
    display: none;
}

@media only screen and (max-width: 480px) {

    .mobile-before {
        display: none;
    }

    .mobile-after {
        visibility: visible;
        display: flex;
    }

    .navbar .mobile-after {
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;  
    }
}
/* Start Section */

.start-content {
    display: inline-flex;
    position: relative;
    background-color: lightgray;
    width: 100%;
    align-items: center;
    padding: 2rem 1.5rem;
    flex: 1 1 auto;
}

.banner {
    min-width: 60%;
    height: auto;
    margin: 0;
}

.start-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1.5rem;
    width: 17rem;
    flex: 1 1 auto;
}

.start-text p {
    font-weight: 500;
}

.start-text .p {
    margin: 2rem 0 1.5rem;
}

.button button {
   width: 17rem;
   background-color: rgb(66, 66, 66); 
   color: white;
   border: none;
   padding: .5rem;
   margin: .5rem 0;
}

@media only screen and (max-width: 480px) {
    .start-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .start-text {
        width: 100%;
        margin: 0;
        padding: 2rem 1rem;
    }

    .button button {
        width: 100%;
        background-color: rgb(141, 141, 141); 
        color: white;
        font-weight: bold;
     }
}

/* Information Section */

.information-content {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    overflow: hidden;
}

.information-quote {
    min-width: 60%;
    padding: 2rem 0 2rem 1.5rem;
}

.information-quote img {
    width: 100%;
    height: auto;   
}

.information-quote figcaption {
    padding: 0;
    margin: 0;
}

.information-quote h2 {
    margin: 2rem 0 1.5rem 0;
}

.information-quote h5 {
    margin-top: 2rem;
}

.information-images {
    display: block;
    border-left: .5px solid lightgray;
    margin-left: 1.5rem;
    padding: 1rem 0;
    width: 40%;
}

.information-images figure:hover {
    background-color: lightgray;
}

.information-images figure {
    display: flex;
    padding: 1rem;
    margin-bottom: .1rem;
    border: .5px solid lightgray;
    flex: 1 1 auto;
}

.image {
    min-width: 35%;
    height: auto;
}

.information-images figcaption {
    min-width: 65%;
    padding: 1rem;
    margin: 0;
}

.information-images p {
    margin: .5rem 0;
}

.information-images a {
    color: rgb(55, 148, 206);
}

.information-images a:hover {
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 480px) {
    .information-images {
        display: flex;
        flex-wrap: wrap;
        border-left: none;
        width: 100%;
        margin: 0 0 2rem;
        padding: 0 0;
    }

    .information-images figure {
        display:flex;
        flex-wrap: wrap;
        border: none;
        margin:0;
    }

    .information-images figcaption {
        width: 100%;
        margin-left: 1rem;
        padding: 1rem 0 0;
    }

    .image {
        width: 100%;
        height: auto;
    }

    #campus {
        margin: 4rem 0;
    }
}   

/* Courses Section */

.courses-content {
    position: relative;
    background-color: lightgray;
    width: 100%;
    padding: 2rem 4.5rem 0;
}

.courses-content h2 {
    display: block;
    width: 100%;
    text-align: center;
    clear: both;
    margin-bottom: 2rem;
}

.courses-images {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.courses-images .top {
    width: 100%;
    display: inline-flex;
    margin-bottom: 2rem;
    flex: 1 1 auto;
}

.courses-images figure {
    width: 33%;
    height: auto;    
    background-color: white;
}

.courses-images .middle {
    margin: 0 2rem;
}

.courses-images img {
    width: 100%;
    height: auto;
}

.courses-images figcaption {
    padding: 1rem 1rem 1.5rem;
    margin: 0;
}

.courses-images h5 {
    font-size: .9rem;
    font-weight: lighter;
    margin: .5rem 0;
}

@media only screen and (max-width: 480px) {
    .mobile-before {
        display: none;
    }

    .mobile-after {
        visibility: visible;
        display: flex;
    }

    .courses-content {
        background-color: white;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding: 2rem 1rem;
    }

    .courses {
        display: block;
        width: 100%;
    }

    .courses div {
        background-color: lightgray;
        padding: 1rem 1rem 1.5rem;
    }
    .courses .between {
        margin: .5rem 0;
    }

    .courses-content h2 {
        margin-bottom: 1rem;
    }
}

/* Thesis Section */

.thesis-heading {
    display: block;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}

.thesis-content {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    overflow: hidden;
}

.thesis-video {
    min-width: 60%;
    padding: 0 0 2rem 1.5rem;
}

.thesis-video video {
    width: 100%;
    height: auto; 
    margin-bottom: 1.5rem;  
}

.thesis-video h2 {
    margin-bottom: .5rem;
}

.thesis-images {
    display: block;
    margin-left: 1.5rem;
    padding: 0;
    max-width: 40%;
}

.thesis-images figure:hover {
    background-color: lightgray;
}

.thesis-images figure {
    display: flex;
    padding: 1rem;
    margin-bottom: .1rem;
    flex: 1 1 auto;
}

.thesis-images figcaption {
    min-width: 65%;
    padding: 1rem;
    margin: 0;
    align-content: center;
}

.thesis-images p {
    margin: .5rem 0;
}

@media only screen and (max-width: 480px) {
    .mobile-before {
        display: none;
    }

    .mobile-after {
        visibility: visible;
        display: block;
    }

    .thesis-exhibits {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 2rem 0 1rem;
    }

    .video {
        padding-bottom: 1.5rem;
    }

    .video .thesis {
        width: 100%;
        height: auto;
    }
}

/* Footer */

footer {
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem 2rem;
    flex: 1 1 auto;
    border-top: 1px solid lightgray;
}

footer a:hover {
    color: rgb(55, 148, 206);
}

@media only screen and (max-width: 480px) {
    footer {
        justify-content: flex-start;
        padding: 1rem 0 1rem 1rem;
    }
}
