* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html, body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

header {
   position: relative;
   width: 100%;
   height: 4rem;
   display: inline-flex;
   align-content: center;
   background-color: white;
   flex: 1 1 auto;
}

.logo-title {
    display: inline-flex;
    align-items: center;
    padding-left: 1.5rem;
    flex: 1 1 auto;
}

header img {
    width: auto;
    height: 2.5rem;
}

header p {
    font-size: 2rem;
}

.header-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 1.5rem;
    flex: 1 1 auto;
}

nav li {
    display: inline-flex;
    padding: .5rem;
    flex: 1 1 auto;
}

/* Start Section */

.start-content {
    display: inline-flex;
    position: relative;
    background-color: lightgray;
    width: 100%;
    align-items: center;
    color: rgb(66, 66, 66);
    padding: 2rem 1.5rem;
    flex: 1 1 auto;
}

.banner {
    min-width: 60%;
    height: auto;
    margin: 0;
}

.start-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1.5rem;
    max-width: 17rem;
    flex: 1 1 auto;
}

.start-text p {
    font-weight: 500;
}

.button button {
   width: 17rem;
   background-color: rgb(66, 66, 66); 
   color: white;
   border: none;
   padding: .5rem;
   margin: .5rem 0;
}

/* Information Section */

.information-content {
    display: inline-flex;
    position: relative;
    width: 100%;
    color: rgb(66, 66, 66);
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
}

.information-quote {
    min-width: 60%;
    padding: 2rem 0 2rem 1.5rem;
}

.information-quote img {
    width: 100%;
    height: auto;   
}

.information-quote figcaption {
    padding: 0;
    margin: 0;
}

.information-quote h2 {
    margin: 2rem 0 1.5rem 0;
}

.information-quote h5 {
    margin-top: 2rem;
}

.information-images {
    display: block;
    border-left: .5px solid lightgray;
    margin-left: 1.5rem;
    padding: 1rem 0;
    max-width: 40%;
}

.information-images figure:hover {
    background-color: lightgray;
}

.information-images figure {
    display: flex;
    padding: 1rem;
    margin-bottom: .1rem;
    border: .5px solid lightgray;
    flex: 1 1 auto;
}

.information-images .image {
    min-width: 35%;
    height: auto;
}

.information-images figcaption {
    min-width: 65%;
    padding: 1rem;
    margin: 0;
}

.information-images p {
    margin: .5rem 0;
}

.information-images a {
    color: rgb(55, 148, 206);
}

.information-images a:hover {
    color: rgb(255, 255, 255);
}

/* Courses Section */

.courses-content {
    position: relative;
    background-color: lightgray;
    width: 100%;
    align-content: center;
    color: rgb(66, 66, 66);
    padding: 2rem 4.5rem 0;
    flex: 1 1 auto;
    border: 1px solid green;
}

.courses-content h2 {
    display: block;
    width: 100%;
    text-align: center;
    clear: both;
    margin-bottom: 2rem;
}

.courses-images {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.courses-images .top {
    border: 1px solid purple;
    width: 100%;
    display: inline-flex;
    margin-bottom: 2rem;
}

.courses-images figure {
    width: 33%;
    height: auto;    
    background-color: white;
    border: 1px solid blue;
}

.courses-images .middle {
    margin: 0 2rem;
}

.courses-images img {
    width: 100%;
    height: auto;
}

.courses-images figcaption {
    padding: 1rem 1rem 1.5rem;
    margin: 0;
}

.courses-images h5 {
    font-size: .9rem;
    font-weight: lighter;
    margin: .5rem 0;
}